.App {
  text-align: center;
}


.content {
  width: 1320px;
  margin: 0 auto;
}

@media only screen and (max-width: 1320px){
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}