.header {
  background-color: #343434;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: solid 4px #CCCBFB;
}

.logoWrapper {
margin-left: 6px;
}
.logo {
  font-family: "Rubik-BoldItalic", Arial, sans-serif;
  font-size: 20px;
  color: #CCCBFB;
  text-decoration: underline;
}
.buttonWrapper {
  margin-right: 6px;
  border: 2px solid #CCCBFB;
  border-radius: 5px;
  }

.button {
  font-family: "Rubik-Bold", Arial, sans-serif;
  font-size: 18px;
  color: #CCCBFB;
}